/* bootstrap framework */
@import url("bootstrap.css");
@import url("bootstrap-responsive.css");
@import url("responsiveslides.css");
@import url("prettyPhoto.css");
@import url("flexslider.css");
@import url("style.css");
@import url("switcher.css");

#contpaq{
	margin: 0 auto; 
	text-align: center;
	float: right;
}
#contpaq a img{
	padding-right: 10px;
	margin: 0 auto; 
	text-align: center;
	float: right;
}

.Article{
